<!-- <?xml version="1.0" encoding="UTF-8" ?> -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.broctagon.exchangeadmin.dao.C2cCoinDao">

	<select id="findAll" resultType="C2cCoinModel">
	SELECT id, CoinName FROM coin;;
	</select>
		
</mapper> 
